async-timeout==4.0.2
attrs==21.4.0
certifi>=2023.5.7
cffi==1.15.0
chardet==4.0.0
click==8.1.1
colorama==0.4.4
cryptography==37.0.1
fake-useragent==0.1.11
idna==3.4
loguru==0.6.0
multidict==6.0.2
pycares==4.1.2
pycparser==2.21
pyee==8.3.3
PySocks==1.7.1
python-dateutil==2.8.2
requests==2.26.0
schedule==1.1.0
typing-extensions==4.0.1
urllib3==1.26.7
websockets==10.0
pyfiglet
